{% extends "layout.html" %}

{% block body %}

<div class="container mt-5">

    <div class="text-center mb-5">
        <h1 class="display-4">Inventory System</h1>
        <p class="lead">Manage Products, Stock, and Sales</p>
    </div>
      <div class="col-md-4">
            <div class="card shadow p-4 text-center">
                <h3>Add Product</h3>
                <p>Add new products to inventory</p>

                <a href="/all_product" class="btn btn-primary">
                    Show All Products
                </a>
            </div>
        </div

    <div class="row">

        <div class="col-md-4">
            <div class="card shadow p-4 text-center">
                <h3>Add Product</h3>
                <p>Add new products to inventory</p>

                <a href="/add" class="btn btn-primary">
                    Add Product
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow p-4 text-center">
                <h3>Update Stock</h3>
                <p>Increase product quantity</p>

                <a href="/add_new_stock" class="btn btn-success">
                    Add Stock
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow p-4 text-center">
                <h3>Register</h3>
                <p>Create new account</p>

                <a href="/register" class="btn btn-dark">
                    Create Account
                </a>
            </div>
        </div>

    </div>

</div>

{% endblock %}