{% extends "layout.html" %}

{% block body %}

<div class="container mt-5">

    <div class="text-center mb-5">
        <h1 class="display-4">مستودعي</h1>
        <p class="lead">لإدارة المستودع</p>
    </div>
      <div class="col-md-4">
            <div class="card shadow p-4 text-center">
                <h3>عرض المنتجات</h3>
                <p>  عرض جميع المنتجات الحالية </p>

                <a href="/all_product" class="btn btn-primary">
                    اظهار جميع المنتجات
                </a>
            </div>
        </div

    <div class="row">

        <div class="col-md-4">
            <div class="card shadow p-4 text-center">
                <h3>اضافة منتج</h3>
                <p>اضف منتج للمستودع</p>

                <a href="/add" class="btn btn-primary">
                    اضافة المنتج
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow p-4 text-center">
                <h3>تحديث البضائع</h3>
                <p>حدث كمية البضائع الحالية</p>

                <a href="/add_new_stock" class="btn btn-success">
                    نحديث الكمية
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow p-4 text-center">
                <h3>تسجيل حساب</h3>
                <p>تسجيل حساب جديد</p>

                <a href="/register" class="btn btn-dark">
                    سجل الان
                </a>
            </div>
        </div>

    </div>

</div>

{% endblock %}