{% extends "layout.html" %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}

<div class="container mt-5">

    <h2 class="mb-4">Register</h2>

    <form method="POST">

        <div class="mb-3">
            <label class="form-label">Username</label>

            <input
                type="text"
                name="username"
                class="form-control"
                placeholder="اسم المستخدم"
                required
            >

            <small class="form-text text-muted">
                ادخل اسمك الكامل
            </small>
        </div>

        <div class="mb-3">
            <label class="form-label">Email address</label>

            <input
                type="email"
                name="email"
                class="form-control"
                placeholder="عنوان البريد الإلكتروني"
                required
            >

            <small class="form-text text-muted">
                ادخل بريدك الإلكتروني
            </small>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>

            <input
                type="password"
                name="password"
                class="form-control"
                placeholder="كلمة المرور"
                required
            >
        </div>

        <button type="submit" class="btn btn-primary">
            تسجيل
        </button>

    </form>

</div>

{% endblock %}